@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.Navigation{
    display: flex;
    align-items: center;
    gap: 313px;
    margin-left: 121px;
    margin-top: 38px;
}

.Group18 {
    display: flex;
    align-items: center;
    gap: 237px;
}   

.Group17{
    display: flex;
    gap:11px;
}

.Group136{
    display: flex;
    gap:11px;
}

.menu_drop_btn{
    border: none;
    background:transparent;
    font-size: 14px;
    font-family: 'Manrope';
}

.menu_btn{
    border: none;
    background:transparent;
    font-size: 14px;
    font-family: 'Manrope';
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown .content{
    display: none;
    position: absolute;
}

.dropdown:hover .content{
    display: block;
}
