body {
  margin: 0;
  padding: 0;
  zoom: 1.05;
}

/*
html, body {
  margin: 0; padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

body {
  transform-origin: top left;
  transform: scale(1.05);
  width: calc(100vw / 1.05); 
}
*/

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope_extra_bold';
  src: url('fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope_semi_bold';
  src: url('fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope_bold';
  src: url('fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

#accordion li label{
    cursor: pointer;
    font-size:22px; 
    font-family: 'Manrope_extra_bold'; 
    line-height: 22px; 
    display:flex; 
    justify-content: space-between;
    align-items: center;
}

#accordion{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding-left: 0;
}

#accordion label + input[type="radio"]{
    display: none;
}

#accordion .accordion_content{
    overflow: hidden;
    transition: max-height 0.5s;
    max-height: 0px;
}

#accordion label + input[type="radio"]:checked +.accordion_content{
    max-height: 156px;
}


#accordion li label{
    cursor: pointer;
    font-size:22px; 
    font-family: 'Manrope_extra_bold'; 
    line-height: 22px; 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#accordion li p{
    font-size:16px; 
    font-family: 'Manrope'; 
    line-height: 31px; 
    letter-spacing: -0.32px;
    padding-left: 25px;
    margin-top: -2px;
}

.accordion_item{
    width: 751px; 
    border-radius: 10px; 
    border: 1px solid #CFCFCF;
}

.CTA{
    position: relative;
    width: 1200px;
    height: 438px;
    margin-top: 150px;
    padding-top: 108px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 41px;
    background-image: url("vectors/CTA.svg");
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.CTA label{
    font-size: 56px;
    font-family: 'Manrope_extra_bold';
    line-height: 61px;
    letter-spacing: -1.68px;
    color: white;
    text-align: center;
    display: block;
}

.CTA button{
    width: 223px;
    height: 67px;
    border-radius: 10px;
    background-color: #FF7F5C;
    color: white;
    font-size: 18px;
    font-family: 'Manrope_bold';
    line-height: 30px;
    letter-spacing: -0.36px;
    border: none;
}

.footer{
    width: 1202px;
    height: 198px;
    margin-left: 0px;
    display: flex;
    gap: 76px;
}

.OG_footer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 150px;
    width: 1202px;
    height: 325px;
    margin-bottom: 58px;
}

#copy_right{
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 28px;
    letter-spacing: -0.32px;
    color: rgba(24, 20, 51, 1)
}

#footer_label{
    font-size: 21px;
    font-family: 'Gilroy';
    line-height: 28px;
    letter-spacing: -0.42px;
}

#footer_p {
    margin-top: 18px;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 28px;
    letter-spacing: -0.32px;
    color: #757095;
}

#footer_p2 {
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 28px;
    letter-spacing: -0.32px;
    color: rgba(24, 20, 51, 0.5);
}

.Nav_wrap{
    display: flex;
}

.Nav_wrap label{
    font-size: 21px;
    font-family: 'Manrope_bold';
    line-height: 24px;
}

.Nav_item button{
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 24px;
    padding: 0px;
    text-align: left;
    border: none;
    background-color: transparent;
}

.Nav_item{
    display:flex; 
    flex-direction: column; 
}

#txt_box{
    background-color: #EEEEFF;
    width: 240px;
    height: 52px;
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 26px;
    letter-spacing: -0.32px;
    padding-left: 15px;
    border: none;
    color: rgba(24, 20, 51, 0.8);
}

#txt_box::placeholder{
    color: rgba(24, 20, 51, 0.2);
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 26px;
    letter-spacing: -0.32px;
}

#btn_subs{
    background-color: #3734A9;
    font-size: 16px;
    font-family: 'Manrope';
    line-height: 26px;
    letter-spacing: -0.32px;
    color: white;
    width: 149px;
    height: 52px;
    border: none;
}

.direct_mail_btn{
    width: 337px;
    height: 76px;
    margin-top: 93px;
    background-color: #FF7F5C;
    color: white;
    font-size: 16px;
    font-family: 'Manrope_semi_bold';
    line-height: 31px;
    letter-spacing: -0.32px;
    border: none;
}

.FAQ{
    position: relative;
    margin-top: 150px;
    margin-left: 119px;
}

.recent_blogs{
    position: relative;
    margin-top: 147px;
    margin-left: 119px;
}

.row{
    position: relative;
    margin-top: 72px;
}
.Testimonials{
    position: relative;
    margin-top: 150px;
    margin-left: 119px;
}

.features{
    width: 1440px;
    height: 833px;
    margin-top: 96px;
    border: 1px solid transparent;
    background-image: url("vectors/Rectangle152.svg");
}

.section_contents2{
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-left: 121px;
    gap: 103px;
}

.section_contents{
    position: relative;
    display: flex;
    margin-top: 1952px;
    margin-left: 124px;
    gap: 73px;
}

.value_props{
    display: flex;
    position: absolute;
    top: 1451px;
    left: 121px;
    gap: 31px;
}

.rectangle147{
    background-color: white;
    border: 1px solid #DBE4E9;
    border-radius: 20px;
    width: 380px;
    height: 382px;
}

.rectangle_147{
    background-color: white;
    border: 1px solid #ABC8D2;
    border-radius: 10px;
    width: 380px;
    height: 338px;
}

.section_heading{
    position: absolute;
    margin-top: 1170px;
    margin-left: 119px;
    display: flex;
    flex-direction: row;
    width: 1171px;
    height: 210px;
    gap: 123px;

}

.Rectangle150{
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 20px;
    width: 402px;
    height: 177px;
}

.Rectangle_150{
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 20px;
    width: 479px;
    height: 152px;
    margin-top: 57px;
}

.Rectangle_box{
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 20px;
    width: 699px;
    height: 400px;
    margin-top: 72.5px;
}

.Group313{
    width: 646px;
    height: 209px;
    gap: 19px;
    display: flex;
    flex-direction: column; 
}

.header {
    left: 0px;
    position:relative;
}

.companies {
    width: 1440px;
    height: 239px;
    position: absolute;
    top:850px;
}

.content {
    width: 646px;
    height: 521px;
    left: 121px;
    top: 241px;
    position:absolute;
}

.ellipse {
  width: 18px; /* diameter = 2 * radius */
  height: 18px;
  border-radius: 50%;
  background-color: #3734A9; /* or any color you like */
  align-items: center;
  justify-content: center;
  display: flex;
}

.ellipse39 {
  width: 24px; /* diameter = 2 * radius */
  height: 24px;
  border-radius: 50%;
  background-color: #FDBC64; /* or any color you like */
  align-items: center;
  justify-content: center;
  display: flex;
}

.rectangle88 {
  width: 60px; /* diameter = 2 * radius */
  height: 60px;
  border-radius: 50%;
  background-color: #3734A9; /* or any color you like */
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #22D497;
}

.Button {
    background-color: #3734A9;
    width:162px;
    height:60px;
    border-radius: 47px;
    color: white;
    font-size: 16px;
    font-family: 'Manrope';
    border: none;
}

.Group176 {
    display: flex;
    gap: 11px;
    align-items: center;
}


.Group159 {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}

.Group157 {
    display: flex;
    gap: 8px;
}

.Group158 {
    display: flex;
    gap: 8px;
}

.Group_158 {
    display: flex;
    gap: 11px;
}


.Navigation{
    display: flex;
    align-items: center;
    gap: 313px;
    left: 121px;
    top: 38px;
    position:absolute;
}

.Group18 {
    display: flex;
    align-items: center;
    gap: 237px;
}   

.Group17{
    display: flex;
    gap:11px;
}

.Group136{
    display: flex;
    gap:11px;
}

.menu_drop_btn{
    border: none;
    background:transparent;
    font-size: 14px;
    font-family: 'Manrope';
}

.menu_btn{
    border: none;
    background:transparent;
    font-size: 14px;
    font-family: 'Manrope';
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 160px;
}

.dropdown .contents{
    display: none;
    position: absolute;
}

.dropdown:hover .contents{
    display: block;
}
